* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  color: #333;
}

/* HEADER */
header {
  background: #111827;
  padding: 15px 0;
}

nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* HERO */
.hero {
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: white;
  text-align: center;
  padding: 90px 20px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #38bdf8;
}

.hero h2 {
  font-size: 40px;
}

/* BUTTON */
.btn {
  padding: 10px 25px;
  background: #38bdf8;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

/* SECTIONS */
.section {
  background: white;
  width: 90%;
  margin: 30px auto;
  padding: 40px;
  border-radius: 8px;
}

/* SKILLS */
.skills {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
}

.skills li {
  background: #e5e7eb;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

/* PROJECTS */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.projects-container .card {
  background: #f9fafb;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.projects-container .card img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 10px;
}

.projects-container .card h4 {
  margin: 10px 0 5px 0;
}

.projects-container .card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

/* CONTACT */
#contactForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
}

#contactForm input,
#contactForm textarea {
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
}

#contactForm input:focus,
#contactForm textarea:focus {
  outline: none;
  border-color: #38bdf8;
}

/* FOOTER */
footer {
  background: #111827;
  color: white;
  text-align: center;
  padding: 15px;
}

/* ANIMATION */
.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.6s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
